.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
margin-bottom: 35px;
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}
body{
    font-family: "Raleway", sans-serif
}
h2{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#aa{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
}